$mobile: 576px;

.board {
    flex-direction: row;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
    display: flex;
    height: 100%;
    gap: 24px;

    @media screen and (max-width: $mobile) {
        flex-direction: column;
        position: relative;
        height: initial;
    }

    &__item {
        width: 100%;
        max-width: 250px;

        @media screen and (max-width: $mobile) {
            max-width: none;
        }
    }
}