.block {
    background-color: #EBECF0;
    border-radius: 10px;
    padding: 12px;
    max-height: 100%;
    display: flex;
    flex-direction: column;

    &__header {
        flex: 0 0 content;
        padding-bottom: 16px;
    }

    &__list {
        flex: 1 1 auto;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__footer {
        flex: 0 0 content;
        padding-top: 16px;
    }
}