* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  background-color: #0079BF;
}

body, html, #root {
  height: 100%;
  width: 100%;
}

.form-input {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  border-radius: 5px;
  padding: 6px 8px;
  background-color: #ffffff;
  outline: none;
  border: none;
}

.form-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 6px 24px;
  background-color: #0079BF;
  color: #ffffff;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}